*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
min-height:100vh;
}

.auth-container{
display:flex;
height:100vh;
}

.auth-left{
flex:1;
background:linear-gradient(135deg,#2563eb,#06b6d4);
display:flex;
flex-direction:column;
justify-content:center;
padding:60px;
}

.auth-left h1{
font-size:50px;
margin-bottom:20px;
}

.auth-left p{
font-size:18px;
}

.auth-right{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#111827;
}

.auth-box{
width:400px;
background:#1e293b;
padding:40px;
border-radius:20px;
}

.auth-box h2{
margin-bottom:25px;
}

.auth-box input{
width:100%;
padding:15px;
margin-bottom:20px;
border:none;
border-radius:10px;
}

.auth-box button{
width:100%;
padding:15px;
border:none;
background:#2563eb;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;
}

.auth-box p{
margin-top:20px;
}

.main-container{
display:flex;
height:100vh;
}

.sidebar{
width:250px;
background:#111827;
padding:30px;
display:flex;
flex-direction:column;
gap:20px;
}

.sidebar button{
padding:15px;
border:none;
background:#2563eb;
color:white;
border-radius:12px;
cursor:pointer;
font-size:15px;
}

.content{
flex:1;
padding:30px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.topbar select{
padding:12px;
border-radius:10px;
}

.workspace{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.left-panel textarea{
width:100%;
height:500px;
padding:20px;
border:none;
border-radius:15px;
background:#1e293b;
color:white;
margin-top:15px;
}

.right-panel{
display:flex;
flex-direction:column;
gap:20px;
}

#output{
background:#1e293b;
padding:20px;
border-radius:15px;
height:350px;
overflow:auto;
}

.history-box{
background:#1e293b;
padding:20px;
border-radius:15px;
height:130px;
overflow:auto;
}

@media(max-width:900px){

.workspace{
grid-template-columns:1fr;
}

.sidebar{
display:none;
}

.auth-container{
flex-direction:column;
}

}
