<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="auth-container">

<div class="auth-left">

<h1>AI Document Platform</h1>

<p>
Translate, Summarize, Download & Chat with Documents
</p>

</div>

<div class="auth-right">

<div class="auth-box">

<h2>Login</h2>

<form action="/" method="GET">

<input type="email" placeholder="Enter Email" required>

<input type="password" placeholder="Enter Password" required>

<button type="submit">Login</button>

</form>

<p>
Don't have an account?
<a href="/signup">Signup</a>
</p>

</div>

</div>

</div>

</body>
</html>
